@font-face {

    font-weight: 400; /* Жирность */
  
    font-style: normal;  /* Стиль шрифта */
  
    font-family: "Muller";  /* Название шрифта */
  
    font-display: swap; /* Тип загрузки */
  
    src:
  
      local("MullerRegular"),
  
      url("../fonts/MullerRegular.woff2") format("woff2"),
  
      url("../fonts/MullerRegular.woff") format("woff");
  
  }
  

  
  @font-face {
  
    font-weight: 600;
  
    font-style: normal;
  
    font-family: "Muller";
  
    font-display: swap;
  
    src:
  
      local("MullerMedium"),
  
      url("../fonts/MullerMedium.woff2") format("woff2"),
  
      url("../fonts/MullerMedium.woff") format("woff");
  
  }

  @font-face {
  
    font-weight: bold;
  
    font-style: normal;
  
    font-family: "Muller";
  
    font-display: swap;
  
    src:
  
      local("MullerBold"),
  
      url("../fonts/MullerBold.woff2") format("woff2"),
  
      url("../fonts/MullerBold.woff") format("woff");
  
  }

body {
    font-weight: 400; 
    font-family: "Muller";  
    padding:30px 0px;
    background: #E5E5E5;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color:inherit;
  text-decoration: none;
}
 ul{
   list-style: none;
   padding:0;
   margin: 0;
 }

 p {
   margin:0;
 }

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

.raiting-hotel-grey{
  filter: contrast(0.5);
}

.container {
  width:1170px;
  display: flex;
  margin:0 auto;
}



.header-container {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


.nav-container {
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 15px;
  height: 100%;
  padding: 0 45px;
}


.left-block-header {
    display: flex;
    align-items: center;
}

header{
  height:55px;
  margin-bottom:30px;
}

.logo {
  margin-right:40px;
}

.nav{
  height:70px;
  margin-bottom:70px;
}

.nav-items {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right:45px;
}

.second-title{
  width: 100%;
  line-height: 40px;
  margin: 0;
  margin-left:40px;
  margin-bottom:20px;
  font-size: 40px;
}

.container-saller{
  flex-wrap: wrap;
}

.saller {
  margin-bottom:70px;
}

.saller-items {
  width: calc(50% - 12px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 24px;
}

.saller-main-item {
  width: calc(50% - 12px);
}

.saller-item:not(:last-child) {
  margin-bottom:23px;
}

.saller-main{
  position: absolute;
  top: 40px;
  left: 40px;
}

.saller-main-item{
 position:relative
}

.saller-main-last{
  position: absolute;
  top: 190px;
  left: 40px;
}

.third-title-last{
  width:60%;
  font-weight: bold;
  font-size: 60px;
  line-height: 68px;
  color: #FFFFFF;
  margin-bottom:15px;
}

.saller-price-last {
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: normal;
  margin-bottom:45px;
}


.third-title-saller{
  width:60%;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom:15px;
}

.saller-price {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: normal;
  margin-bottom:45px;
}

.saller-in-info{
  font-size: 16px;
  line-height: 16px;
  color: #FFCC66;
  background-image: url(../images/arrow-services.png);
    background-repeat: no-repeat;
    padding-right: 20px;
    background-position: right center;
    background-size: 11px auto;
}

.saller-img {
  border-radius:15px;
}

.about {
  margin-bottom:70px;
}

.container-about {
  flex-direction: column;
}

.container-services {
  flex-direction: column;
}

.third-title {
  margin: 0;
  margin-bottom: 20px;
}

.services {
  margin-bottom:70px;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
}

.services-item {
  width: calc(50% - 12px);
  margin-right: 24px;
  margin-bottom: 23px;
  background: #fff;
  border-radius: 15px;
}

.services-item-container {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 190px;
  padding-bottom:50px;
  background-repeat: no-repeat;
  background-size: 100% 165px;
  border-radius: 15px;

}

.services-item h3{
  margin-bottom: 0;
  line-height: 40px;
}

.services-info {
  line-height:32px;
  color:#000;
}

.services-third-title {
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  background-image: url(../images/arrow-services.png);
  background-repeat: no-repeat;
  padding-right: 20px;
  background-position: right center;
  background-size: 11px auto;
}

.services-item:first-child article {
  background-image: url(../images/10.jpg);
}

.services-item:nth-child(2) article {
  background-image: url(../images/15.jpg);
}

.services-item:nth-child(3) article {
  background-image: url(../images/12.jpg);
}

.services-item:last-child article {
  background-image: url(../images/17.jpg);
}


.services-item:nth-child(2n) {
  margin-right: 0px;
}

.services-item:last-child,
.services-item:nth-child(3){
  margin-bottom:0;
}

.Advantages{
  margin-bottom: 70px;
}

.container-Advantages {
  flex-direction: column;
}

.Advantages-items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Advantages-item{
  width: calc(25% - 18px);
  margin-right:24px;
  margin-bottom:24px;
}

.Advantages-item:nth-child(4n){
  margin-right:0;
}

.Advantages-item:nth-child(5),
.Advantages-item:nth-child(6),
.Advantages-item:nth-child(7),
.Advantages-item:nth-child(8){
  margin-bottom: 0;
}

.advantages-info {
  font-size: 16px;
  line-height: 200%;
}

.Advantages-item {
  padding: 42px; 
  padding-top: 120px;
  background: #FFFFFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 45px 40px;

}



.container-hotellive{
  flex-direction: column;
}

.hotellive-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.hotellive-item,
.hotellive-item-last{
  width: calc(33% - 13px);
  margin-right:24px;
  background: #fff;
  margin-bottom:24px;
  padding-bottom:40px;
  border-radius: 15px;
}

.hotellive-item:nth-child(3n),
.hotellive-item-last{
  margin-right:0;
}

.hotellive-item:nth-child(7),
.hotellive-item:nth-child(8),
.hotellive-item-last{
  margin-bottom:0px
}

.phone-header {
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.right-block-header {
  font-size: 16px;
  line-height: 16px;
  padding-left: 30px;
  color: #CC9933;
  background-image: url(../images/arrow-header.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 21px 12px;
}

.nav-item {
  color: #666666;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav-items {
  border-right:1px solid #E1E1E1;
  padding-right:56px;
}

.want-tour,.want-call {
  background: transparent;
  border: 1px solid #CC9933;
  color: #CC9933;
  border-radius: 10px;
  padding: 13px 20px;
}

.want-tour {
  margin-right: 30px;
}


.saller-item {
  min-height: 258px;
  position:relative;
}

.about-info {
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  width:890px;
}

.Advantages-item:first-child {
  background-image: url(../images/bathtub.svg);
}

.Advantages-item:nth-child(2) {
  background-image: url(../images/hanger.svg);
}

.Advantages-item:nth-child(3) {
  background-image: url(../images/heating.svg);
}

.Advantages-item:nth-child(4) {
  background-image: url(../images/hotel-key.svg);
}

.Advantages-item:nth-child(5) {
  background-image: url(../images/parking.svg);
}

.Advantages-item:nth-child(6) {
  background-image: url(../images/reception.svg);
}

.Advantages-item:nth-child(7) {
  background-image: url(../images/security-box.svg);
}

.Advantages-item:nth-child(8) {
  background-image: url(../images/swimming-pool.svg);
}


.hotellive-see{
  background: transparent;
  border: 1px solid #CC9933;
  color: #CC9933;
  border-radius: 10px;
  padding: 13px 20px;
  display: inline-block;
}

.hotellive-place{
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  margin-bottom:20px;
}

.hotellave-name{
  margin-top:0;
  margin-bottom:15px;
  font-weight: normal;

}

.hotellive-main {
  padding:0px 45px;
}

.hotellive-images {
  margin-bottom: 35px;
  border-radius: 15px 15px 0px 0px;
}

.hotellive-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotellive-item-last {
  position:relative;
  padding-bottom: 0;
}

.hotellive-images-last{
  border-radius:15px;
}

.hotellive-item-containerlast{
  display:flex;
  height: 100%;
}

.hotellive-see-lastblock {
  position: absolute;
  bottom: 30px;
  color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 20px;
  line-height: 200%;
  background-image: url(../images/w-arrow.svg);
  background-repeat: no-repeat;
  background-position: 310px center;
  padding-right: 30px;
}

